<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <script src="/_bower_components/jquery/jquery.min.js"></script>
    <!-- endbuild -->
<script type="text/javascript" src="//use.typekit.net/fvc4vqm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
  <div id="wrap">
    <div id="header" class="cf">
        <div class="container">
            <ul class="nav" id="menu">
                <!-- <li><a href="#work">Work</a></li> -->
                <li><a href="#services">Services</a></li>
                <li><a href="#process">Process</a></li>
                <li><a href="#about">About</a></li>
                <li><a class="btn" href="mailto:contact@holyarchers.com">Contact Us!</a></li>
            </ul>
            <div class="logo">Holy Archers</div>
        </div>
    </div>
    <div id="menu-mobile"></div>
    {{ content }}
    </div> <!-- wrap -->
    <div id="footer" class="cf">
        <div class="container">
            <ul class="nav">
                <li><a href="#services">Services</a></li>
                <li><a href="#process">Process</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="mailto:contact@holyarchers.com">Contact Us!</a></li>
            </ul>
            <div class="copyright">HolyArchers &copy;2014</div>
        </div>
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}
    <script src="/js/jquery.slicknav.min.js"></script>

  </body>
</html>
