/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

header h1 {
	font-weight: light;
	// font-family: $body-font;
	color: #ccc;
	font-size: 4em;
	margin-bottom: 1em;

}
.btn:link, .btn:visited {
	border: 1px solid white;
	/* border-bottom: 1px solid \$c--secondary-1; */
	padding: 0.4em 0.9em;
	border-radius: 1px;
	margin-left: -6px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.btn:hover {
	background: rgba($c--secondary-1, .3);
	box-shadow: 0;
}

.btn:active {
	background: darken($c--secondary-1, 7);
}
#header .logo {
	background: url(/img/logo-header.png);
	text-indent: -9999px;
	background-size: auto 70%;
	width: 170px;
	background-repeat: no-repeat;
	background-position: center left;
	margin-top: 3px;
}

h2 {
	color: $c--primary-2;
	font-size: 3em;

	margin-bottom: 1.5em;
}

.service .name {
	margin-bottom: 0.1em;
	margin-top: 0.3em;
	font-size: 2.5em;
}

.process .name {
	color: $c--primary-2;
}

.container-wrapper {
	padding-top: 4em;
	padding-bottom: 4em;
}

#header, #footer {
	background: $c--dark;
	color: $c--light;
	line-height: 2.5;

	.nav {
		font-family: $display-font;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0px;

		li { display: inline-block; padding-left: 1.3em; }

		float: right;

		a:link, a:visited {
			color: $c--light;
			text-decoration: none;
		}

		a:hover, a:active {
			color: $c--light;
		}
	}
}

#header {
	position: absolute;
	top: 2em;
	left: 0;
	background: transparent;
	width: 100%;
	z-index: 999;
}

.jumbotron-wrapper {
	color: white !important;
	height: 90vh;
	position: relative;
	background: #000;
	.container {
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
}

.jumbotron {
	.logo {
		font-family: $body-font;
		font-weight: bold;
		font-size: 72px;
		text-align: center;
		margin-top: 0.5em;
	}

	.lead {
		font-family: $body-font;
		font-weight: 900;
		text-decoration: none;
		font-style: normal;
		font-size: 2.8em;
		line-height: 1.2;
		color: rgba(255,255,255,0.9);
		text-align: center;
		margin-top: 1em;
	}

	.lead-sub {
		font-family: $display-font;
		font-size: 1.8em;
		line-height: 1.4;
		text-align: center;
		width: 60%;
		margin: .5em auto 1.5em auto;
		color: rgba(255,255,255,0.6);
		font-style: italic;
	}


	.img {
		width: 20%;
		margin: auto;
		img {
		border-radius: 3px;
			max-width: 100%;
		}
	}
}
.work-wrapper {
	background: $c--dark;
}

#work {
	.project.project-1 {
		background: $c--light url(/img/lifehouse-cc.jpg) center center no-repeat;
		background-size: cover;
		.name { background: $c--secondary-2; }
	}
	.project.project-2 {
		background: $c--light url(/img/chris-crump.jpg) center center no-repeat;
		background-size: cover;
		.name { background: $c--primary-2; }
	}
	.project.project-3 {
		background: $c--light url(/img/holyarchers-project.jpg) center center no-repeat;
		background-size: cover;
	}
	.project {
		border-radius: 4px;
		position: relative;
		background: $c--light url(/img/placeholder.gif) center center no-repeat;
		background-size: cover;

		height: 15em;
		.name {
			position: absolute;
			bottom: 0;
			background: $c--secondary-1;
			width: 100%;
			text-align: center;
			line-height: 2;
			font-weight: bold;
			color: white;
			font-size: 1.3em;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			text-shadow: 0 1px 0 rgba(0,0,0,0.1);
		}


		.name.name-alt-1 {
			background: $c--primary-2;
		}
		.name.name-alt-2 {
			background: $c--secondary-2;
		}
	}
}

#services {
	padding-top: 2em !important;
	text-align: center;

	img { border-radius: 3px; }
	.service {

	}
}

#process {
	text-align: center;
	padding-bottom: 4em;
	img { border-radius: 3px; }
	.stage {
	}
}

.contact-wrapper {
	background: $c--secondary-1;
	// color: white;
	color: #efefef;
	font-size: 4em;
	text-align: center;
	line-height: 1.3;
	font-weight: 900;

	a:link, a:visited {
		background: white;
		text-decoration: none;
		font-size: 0.8em;
		padding: 0.3em 1em;
		color: #333;
		background-color: #efefef;
	}

	a:hover, a:active {
		background-color: #ffffff;
	}
}

.service .icon, .process .icon {
	width: 70%;
	margin: auto;
	img {
		max-width: 100%;
	}
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.mobile-block {
			margin-bottom: 2em !important;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.jumbotron {
			h1.logo {
				font-size: 40px;
			}
			.lead {
				font-size: 16px;
			}
		}

		.mobile-block {
			margin-bottom: 2em !important;
		}

		.contact-wrapper {
			font-size: 2.8em;
		}

		#footer {
			.copyright { text-align: center; }
			.nav {
				font-size: 0.8em;
			}
		}
	}

	.slicknav_menu {
	display:none;
}

@media screen and (max-width: 767px) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
}


.slicknav_menu {
	background: transparent !important;
	a:link, a:visited {
		color: #999;
	}
	a:hover, a:active {
		color: #333;
	}
}

.cta {
	text-align: center;
}
.btn.btn-jumbo:link,
.btn.btn-jumbo:visited {
	display: inline-block;
	background: white;
	color: $c--dark;
	font-size: 1.5em;
	text-decoration: none;
	padding: 1em 2em;
	font-weight: bold;
	border: none;
}
.btn.btn-jumbo:hover,
.btn.btn-jumbo:active {
	color: white;
	background: $c--secondary-1;
	border: none;
}

.jumbotron-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: red;
	background: url(/img/earth-outline-intense.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	animation: fadingInSlow 5s ease-in forwards;
}

.work-wrapper {
	padding-top: 6em;
	padding-bottom: 8em;
	h1 {
		text-align: center;
		color: rgba(255,255,255,0.8);
		margin-bottom: 0.7em;
	}
}
.bio {
	text-align: center;
}
.bio-name a:link, .bio-name a:visited {
	color: white;
	font-size: 1.8em;
	font-family: $body-font;
	font-weight: 900;
	text-decoration: none;
	display: inline-block;
	margin-top: 1em;
}
.bio-name a:visited, .bio-name a:active {
	color: darken(white, .3);
}

.bio-position {
	color: white;
	font-size: 1.4em;
	font-family: $display-font;
	font-style: italic;
	font-weight: light;
	line-height: 1.8;
}
.bio-pic {
	width: 225px;
	height: 225px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	border: 1px solid rgba(255,255,255,0.05);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	img {
		max-width: 100%;
	}

}

.bio-social {
	li {
		display: inline-block;
		margin: 0.5em;
	}
	a {
		color: rgba(255,255,255,0.5);
		font-size: 1.3em;
	}
	a:hover {
		color: rgba(255,255,255,0.9);
	}
}

#menu-mobile {
	position: absolute;
	top: 1.8em;
	width: 100%;
	z-index: 9999;
}

@media only screen and (max-width: 776px) {
	.jumbotron {
		&.container {
			width: 300px;
		}
		.img {
			width: 25%;
			margin-bottom: 1em;
		}
		.lead {
			font-size: 2em;
		}
		.lead-sub {
			font-size: 0.9em;
			width: 90%;
		}
	}

	.nav {
		width: 100%;
	}

	.cta {
		.btn.btn-jumbo:link, .btn.btn-jumbo:visited {
			font-size: 1em;
		}
	}
}

.slicknav_nav {
	background: white;
}

@keyframes fadingInSlow {
    from { opacity: 1.0; }
    to { opacity: 0.3; }
}
