/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.btn:link, .btn:visited {
	background: $c--secondary-1;
	padding: 0.3em 0.9em;
	border-radius: 3px;
	margin-left: -6px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.btn:hover {
	background: lighten($c--secondary-1, 7);
	box-shadow: 0;
}

.btn:active {
	background: darken($c--secondary-1, 7);
}
#header .logo {
	background: url(/img/logo-header.png);
	text-indent: -9999px;
	background-size: auto 70%;
	width: 170px;
	background-repeat: no-repeat;
	background-position: center left;
	margin-top: 3px;
}

h2 {
	color: $c--primary-2;
	font-size: 3em;

	margin-bottom: 1.5em;
}
.container-wrapper {
	padding-top: 3em;
	padding-bottom: 5em;
}
#header, #footer {
	background: $c--dark;
	color: $c--light;
	line-height: 2.5;

	.nav {
		font-family: $display-font;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0px;

		li { display: inline-block; padding-left: 1.3em; }

		float: right;

		a:link, a:visited {
			color: $c--light;
			text-decoration: none;
		}

		a:hover, a:active {
			color: $c--light;
		}
	}
}

.jumbotron {
	.logo {
		font-family: $body-font;
		font-weight: bold;
		font-size: 72px;
		text-align: center;
		margin-top: 0.5em;
	}

	.lead {
		font-family: $display-font;
		text-align: center;
		width: 70%;
		margin: 1.5em auto 2.5em auto;
		color: $c--primary-2;
		font-style: italic;
	}
	.img {
		width: 25%;
		margin: auto;
		img {
		border-radius: 3px;
			max-width: 100%;
		}
	}
}
.work-wrapper {
	background: $c--dark;
}

#work {
	.project {
		border-radius: 4px;
		position: relative;
		background: $c--light url(/img/placeholder.gif) center center no-repeat;

		height: 15em;
		.name {
			position: absolute;
			bottom: 0;
			background: $c--secondary-1;
			width: 100%;
			text-align: center;
			line-height: 2;
			font-weight: bold;
			color: white;
			font-size: 1.3em;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			text-shadow: 0 1px 0 rgba(0,0,0,0.1);
		}


		.name.name-alt-1 {
			background: $c--primary-2;
		}
		.name.name-alt-2 {
			background: $c--secondary-2;
		}
	}
}

#services {
	padding-top: 5em !important;
	text-align: center;

	img { border-radius: 3px; }
	.service {
		
	}
}

#process {
	text-align: center; 
	img { border-radius: 3px; }
	.stage {
	}
}

.contact-wrapper {
	background: $c--secondary-1;
	color: white;
}

.service .icon, .process .icon {
	width: 70%;
	margin: auto;
	img {
		max-width: 100%;
	}
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.mobile-block {
			margin-bottom: 2em !important;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.jumbotron {
			h1.logo {
				font-size: 40px;
			}
			.lead {
				font-size: 16px;
			}
		}



		h2 {
			border-bottom: 2px solid $c--primary-2;
		}
		.mobile-block {
			margin-bottom: 2em !important;
		}
	}

	